div.chain_holder ul.bottom_chain li a.context:hover {
    background-position: -15px 69px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.context {
    background-position: -8px -1px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.string:hover {
    background-position: -92px -77px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.string {
    background-position: -87px -1px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.audit:hover {
    background-position: -172px -77px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.audit {
    background-position: -165px -1px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.content:hover {
    background-position: -250px -77px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.content {
    background-position: -243px -1px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.act_promo:hover {
    background-position: -327px -78px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.act_promo {
    background-position: -322px -1px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.vk_promo:hover {
    background-position: -405px -78px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.vk_promo {
    background-position: -399px -1px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.reputation:hover {
    background-position: -484px -77px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.reputation {
    background-position: -478px -1px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.banners:hover {
    background-position: -562px -77px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.banners {
    background-position: -556px -1px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.consult:hover {
    background-position: -641px -78px;
    text-decoration: none;
}
div.chain_holder ul.bottom_chain li a.consult {
    background-position: -635px -1px;
    text-decoration: none;
}

p.copyright {
    float: left;
    font-size: 10px;
    margin: 0 48%;
    position: relative;
    width: 100%;
    font-family: tahoma, times new roman;
}

