<ul class="block_holder">
    <li class="logo"><a href="{{ path('default') }}"></a></li>
    <li class="brand"><a href="{{ path('default') }}"></a></li>
    <li class="slogan"><nobr>Наша работа &#8212; залог успеха вашего бизнеса!</nobr></li>
    <li class="request"><a class="request" href="{{ path('serv_request') }}"></a></li>
</ul>
<hr />
<span class="description">SEO-студия</span>
