<ul class="block_holder">
    <li class="logo"><a href="{{ path('default') }}"></a></li>
    <li class="brand"><a href="{{ path('default') }}"></a></li>
    <li class="middle_block">
        <ul>
            <li class="slogan">
                <nobr>Наша работа &#8212; залог успеха вашего бизнеса!</nobr>
            </li>
            <li class="contact">
                <ul>
                    <li>info@titit.ws</li>
                    <li>+380955257737</li>
                    <li>+380979398778</li>
                    <li>skype(еще нет)</li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="request"><a class="request" href="{{ path('serv_request') }}"></a></li>
</ul>
<hr />
<span class="description">SEO-студия</span>
