<ul class="block_holder">
    <li class="logo"></li>
    <li class="brand"></li>
    <li class="slogan"><nobr>Наша работа &#8212; залог успеха вашего бизнеса</nobr></li>
    <li class="request"><a class="request" href="{{ path('serv_request') }}"></a></li>
</ul>
<hr />
<span class="description">SEO-студия</span>
