
@import "tblog/test.less";
@import "tblog/colors.less";
@import "tblog/homepage.less";
@import "tblog/footer.less";
//sort code placed below
* {
    margin: 0px;
    padding: 0px;
}

html {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    body {
        height: 100%;
        overflow: scroll;
        position: relative;
        div.spacer {
            float: left;
            position: absolute;
            width: 1300px;
        }

        #main_wrapper {
            background: none repeat scroll 0 0;
            background-color: #4ca8d6;
            min-height: 100%;
            min-width: 1005px;
            overflow: hidden;
            position: relative;
            .main-content {
                margin: 0 auto;
                position: relative;
                width: 754pt;
                z-index: 1;
                #container {
                    margin: 0 auto;
                    position: relative;
                    width: 754pt;
                    z-index: 1;
                    float: left;
                    ul {
                        list-style: none outside none;
                        li {
                            float: left;
                        }
                    }

                    ul.icons_grid {
                        margin: 0 10px;
                        li.row_holder {
                            padding-left: 10%;
                            ul.row {
                                margin: 5px 0;
                                float: left;
                                padding-left: 5%;
                                position: relative;
                                li.icon {
                                    width: 200px;
                                    height: 200px;
                                    margin: 0 5px;
                                    position: relative;
                                    border-radius: 40px;
                                    border: 10px solid @black;
                                    float: left;
                                    margin: 10px;
                                    font-family: Bauhaus;
                                }
                            }
                        }
                    }
                }
            }

            footer {
                float: left;
                width: 100%;
                margin: 30px 0 0 0;
                div.chain_holder {
                    margin: 0 auto;
                    width: 720px;
                    height: 80px;
                    ul.bottom_chain {
                        list-sytle: none;
                        li {
                            width: 60px;
                            height: 60px;
                            display: inline;
                            margin: 0 5px;
                            position: relative;
                            border-radius: 15px;
                            border: 5px solid @black;
                            float: left;
                            margin: 5px;
                            font-family: Bauhaus;
                            a {
                                float: left;
                                background-image: url("../images/bottom_chain_unbordered.png");
                                width: 60px;
                                height: 60px;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }

            header {
                float: left;
                width: 100%;
                margin: 0 0 30px 0;
                ul.block_holder {
                    list-style: none;
                    margin: 0 5%;
                    float: left;
                    li.logo {
                        background-image: url("../images/logo.png");
                        background-repeat: no-repeat;
                        float: left;
                        height: 150px;
                        margin: 0 0 -35px 75px;
                        width: 128px;
                    }

                    li.brand {
                        background-image: url("http://sf20tblog.dev/bundles/sftblogblog/less/../images/brand.png");
                        background-repeat: no-repeat;
                        float: left;
                        height: 55px;
                        margin-top: 115px;
                        position: absolute;
                        width: 150px;
                    }

                    li.slogan {
                        float: left;
                        font-family: times new roman, tahoma;
                        font-size: 25px;
                        height: 40px;
                        margin: 100px 50px 0;
                        position: relative;
                    }

                    li.request {
                        border: 5px solid black;
                        border-radius: 20px;
                        float: right;
                        height: 130px;
                        margin: 15px;
                        width: 130px;
                        a {
                            background-image: url('../images/request.png');
                            background-repeat: no-repeat;
                            width: 100px;
                            height: 50px;
                            float: left;
                            margin: 35px 15px;
                        }
                    }
                }

                hr {
                    float: left;
                    margin: 10px 5%;
                    position: static;
                    width: 90%;
                }

                span.description {
                    float: left;
                    font-family: times new roman, tahoma;
                    font-size: 20px;
                    margin: 0 10%;
                }
            }
        }
    }
}

@font-face {
    font-family: Bauhaus;
    src: url("fonts/bauhaush.ttf");
}

