
@import "tblog/test.less";
@import "tblog/colors.less";
@import "tblog/header.less";
@import "tblog/homepage.less";
@import "tblog/footer.less";
@import "tblog/helpers.less";
//sort code placed below
* {
    margin: 0px;
    padding: 0px;
}

html {
    background: none repeat scroll 0 0 #1F1A17;
    height: 100%;
    body {
        height: 100%;
        overflow: scroll;
        position: relative;
        div.spacer {
            float: left;
            position: absolute;
            width: 1300px;
        }

        #main_wrapper {
            background: none repeat scroll 0 0 @coffee_black;
            color: @gray;
            min-height: 100%;
            min-width: 1005px;
            overflow: hidden;
            position: relative;
            .main-content {
                margin: 0 auto;
                position: relative;
                width: 754pt;
                z-index: 1;
                #container {
                    margin: 0 auto;
                    position: relative;
                    width: 754pt;
                    z-index: 1;
                    float: left;
                    p.text {
                        float: left;
                    }

                    ul {
                        list-style: none outside none;
                        li {
                            float: left;
                        }
                    }

                    ul.icons_grid {
                        margin: 0 10px;
                        li.row_holder {
                            padding-left: 10%;
                            ul.row {
                                margin: 5px 0;
                                float: left;
                                padding-left: 5%;
                                position: relative;
                                li.icon {
                                    width: 200px;
                                    height: 200px;
                                    margin: 0 5px;
                                    position: relative;
                                    border-radius: 40px;
                                    border: 10px solid @gray;
                                    float: left;
                                    margin: 10px;
                                    font-family: Bauhaus;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@font-face {
    font-family: Bauhaus;
    src: url("fonts/bauhaush.ttf");
}

