{% extends 'sfTblogBlogBundle:Layout:layout.html.twig' %}

{% block main_content %}
<div id="container">
<ul class="icons_grid">
    <li class="row_holder">
        <ul class=row>
            <li class="icon">Icon</li>
            <li class="icon">Icon</li>
            <li class="icon">Icon</li>
        </ul>
    </li>
    <li class="row_holder">
        <ul class=row>
            <li class="icon">Icon</li>
            <li class="icon">Icon</li>
            <li class="icon">Icon</li>
        </ul>
    </li>
    <li class="row_holder">
        <ul class=row>
            <li class="icon">Icon</li>
            <li class="icon">Icon</li>
            <li class="icon">Icon</li>
        </ul>
    </li>
</ul>
</div>
{% endblock %}