{% extends 'sfTblogBlogBundle:Layout:layout.html.twig' %}

{% block main_content %}
<div id="container">
<ul class="icons_grid">
    <li class="row_holder">
        <ul class=row>
            <li class="icon"><a class="context" href="#"></a></li>
            <li class="icon"><a class="string" href="#"></a></li>
            <li class="icon"><a class="audit" href="#"></a></li>
        </ul>
    </li>
    <li class="row_holder">
        <ul class=row>
            <li class="icon"><a class="content" href="#"></a></li>
            <li class="icon"><a class="act_promo" href="#"></a></li>
            <li class="icon"><a class="vk_promo" href="#"></a></li>
        </ul>
    </li>
    <li class="row_holder">
        <ul class=row>
            <li class="icon"><a class="reputation" href="#"></a></li>
            <li class="icon"><a class="banners" href="#"></a></li>
            <li class="icon"><a class="consult" href="#"></a></li>
        </ul>
    </li>
</ul>
</div>
{% endblock %}