<div id="left_menu">
    <span>
        Left Menu
    </span>
    <ul class="hidden">
       <li>и содержит соответствующий список</li>
       <li>и содержит соответствующий список</li>
       <li>и содержит соответствующий список</li>
       <li>и содержит соответствующий список</li>
       <li>и содержит соответствующий список</li>
    </ul>
</div>