<div id="left_menu" class="side_menu">
    {#
    <span>
        Left Menu
    </span>
    #}
    <ul class="{# hidden #}">
       <li><a href="#" onClick="javascript:Void(0)">и содержит соответствующий список</a></li>
       <li><a href="#" onClick="javascript:Void(0)">и содержит соответствующий список</a></li>
       <li><a href="#" onClick="javascript:Void(0)">и содержит соответствующий список</a></li>
       <li><a href="#" onClick="javascript:Void(0)">и содержит соответствующий список</a></li>
       <li><a href="#" onClick="javascript:Void(0)">и содержит соответствующий список</a></li>
    </ul>
</div>