<div id="right_menu" class="side_menu">
    <ul class="holder">
       <li><a href="#" onClick="javascript:Void(0)">VK</a></li>
       <li><a href="#" onClick="javascript:Void(0)">G+</a></li>
       <li><a href="#" onClick="javascript:Void(0)">Twitter</a></li>
    </ul>
</div>