{% extends 'sfTblogBlogBundle:Layout:layout.html.twig' %}

{% block main_content %}
<div id="container">
    <div class="uc_sight">
        <div class="border">
            <span>under<br/> construction </span>
        </div>
    </div>
</div>
{% endblock %}